TRIP_DB_NAME=swiftride_trip
TRIP_DB_USER=swiftride
TRIP_DB_PASSWORD=swiftride_dev

PAYMENT_DB_NAME=swiftride_payment
PAYMENT_DB_USER=swiftride
PAYMENT_DB_PASSWORD=swiftride_dev

MATCH_DB_NAME=swiftride_matching
